body {
  font-family: sans-serif;
  background-color: black;
}

#backGround {
  background: linear-gradient(
    rgb(207, 209, 219),
    rgb(125, 163, 233),
    rgb(142, 163, 221)
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(55, 114, 148, 0.842);
  min-width: 300px;
  max-width: 400px;
}

#line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  font-size: 50px;
  margin-top: 38px;
  color: rgba(66, 66, 82, 0.842);
  padding: 10px;
}

input,
#sel2,
#sel1 {
  border: 1px solid rgb(131, 127, 127);
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(44, 173, 44);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 50px;
}
button:hover {
  background-color: rgb(11, 113, 153);
  font-size: 23px;
}

#sel1,
#sel2 {
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(44, 173, 44);
  color: white;
  font-size: 17px;
  border: none;
}

h1 {
  display: flex;
  justify-content: center;
  /* font-family: -webkit-body; */
  color: black;
  margin-top: -29px;
  margin-bottom: -6px;
  text-shadow: 1px 1px black;
  margin-left: -40px;
  margin-right: -40px;
  background-color: white;
  padding: 10px 10px;
}

header {
  font-size: 20px;
  color: white;
}
h4 {
  font-size: 30px;
}
input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 20px;
  color: rgb(44, 173, 44);
  background-color: white;
  border: none;
  font: inherit;
  font-size: 25px;
}
input:hover {
  box-shadow: 2px 2px 5px 5px rgb(92, 79, 116);
}

#bottom {
  background-color: rgb(69, 115, 241);
  margin-left: -40px;
  margin-right: -40px;
  padding: 30px;
}
#amount {
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  #app {
    min-width: unset;
    max-width: unset;
  }
}
